
:root{
    /*Palette*/
    --dark-gray: #171717;
    --light-gray: #444444;
    --red: #DA0037;
    --text: #EDEDED;
}

/*#region Learn More Button*/
.learn-more-r{
    width: 150px;
    height: 50px;

    box-shadow: inset 0 0 0 0 var(--red);
    transition: ease-out 0.2s;
}

.learn-more-r:hover{
    cursor: pointer;
    box-shadow: inset 150px 0 0 0 var(--red);
}

.learn-more-l{
    width: 150px;
    height: 50px;

    box-shadow: inset 0 0 0 0 var(--red);
    transition: ease-out 0.2s;
}

.learn-more-l:hover{
    cursor: pointer;
    box-shadow: inset -150px 0 0 0 var(--red);
}
/*#endregion*/

#home-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home-1{
    position: relative;
    top: 20vh;
    left: 7.5%;

    width: 35%;

    font-size: 20px;
    text-align: left;

    margin: none;
}
.img-home-1{
    position: relative;
    left: 55%;
    bottom: 30vh;

    width: 30%;
    height: 30%;
}


.home-2{
    position: relative;
    top: 0vh;
    left: 50%;

    width: 35%;

    font-size: 20px;
    text-align: right;
}
.img-home-2{
    position: relative;
    left: 7.5%;
    bottom: 35vh;

    width: 30%;
    height: 30%;
}